@media only screen and (max-width:1440px) {

a.nav-link.px-4.text-light {
  font-size: 14px ;
}
a.navbar-brand {
  width: 270px;
}
}










/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1899px;
  }
}







@media only screen and (max-width:767px) {
  a.navbar-brand {
    width: 66% !important;
}
.yearbg {
  height: auto;
  padding: 40px 20px;
}
.imgtopsec {
  margin-top: -30px;
}
button.navbar-toggler {
  background: #000;
}
.getbgg {
  padding: 40px 20px;
}
.imgtextget2 {
  padding: 10px 10px;
  width: 70%;
  margin-left: 85px;
  margin-top: -86px;
}
.newsbgg {
  padding: 60px 10px;
}
.footerbg {
  height: auto;
  padding: 30px 20px;
}
.offcanvas-header {
  background: #000;
  color: #fff;
  opacity: 1;
}
.homemaintext h3 {
  font-size: 30px;
}
.videotextcent {
  text-align: left;
}
.videbttn img {
  padding-top: 10px;
}
.headermenusec {
  padding: 7px 0px !important;
}
.meqtext {
  font-size: 15px;
}
.meqimgg {
  width: 20px;
}
br {
  display: none !important;
}
.ourtext h3 {
  font-size: 20px;
}

element.style {
}
.ourtext p {
    font-size: 14px;
    margin: 0;
}
.ourboxbg {
  margin-bottom: 14px;
}
.padd-le {
  padding-left: 15px;
}
.abuttext p {
  font-size: 20px;
  padding-top: 20px;
}
.abuttext h3 {
  font-size: 21px;
}
.We-sec p { 
  padding-top: 10px;
}
.We-sec h4 {
  font-size: 90px;
}
.We-sec2 p {
  font-size: 14px;
  margin-bottom: 0px;
}
.secredbtn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.secredbtn a {
  font-size: 14px;
}
.serbgg {
  height: auto;
  padding: 30px 15px;
}
.paddser {
  padding: 5px;
}
.bggsebox {
  margin-bottom: 10px;
}
.secbannerbg {
  padding: 10px 20px;
  margin-top: -52px;
}
.switch-container {
  margin-top: 25px !important;
}
.secbesbtn , .secbesbtn2 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.Basicbgg , .Basicbgg2 {
  padding: 20px;
  margin-bottom: 10px;
}
.lefttextbas {
  border-right: 0;
}
.ictext , .ictext2{
  padding-left: 0px;
}
.getttext h3 {
    font-size: 23px;
}
.secbtnget {
  padding-top: 30px;
  padding-bottom: 30px;
}
.imgcontext {
  width: 70%;
}.timesec {
  font-size: 14px;
  padding-top: 0px;
  margin-bottom: 0;
}
.meqtext2 {
  font-size: 16px;
}
.secshop {
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
  text-align: center;
}
.shopbtnsec {
  padding-bottom: 40px;
}
.webmainsec {
  padding-bottom: 0px !important;
  margin-bottom: 0px;
  padding-top: 0px;
}
.secwebgco {
  margin-top: 10px;
  margin-bottom: 0px;
}
.swetectcol {
  padding: 40px 20px;
}
.wlltext {
  font-size: 17px !important;
}
.wellacccsec h4 {
  font-size: 15px;
}
.wellacccsec p {
  font-size: 14px;
}
.wellacccsec::after {
  display: none;
}
.image-nav {
  padding-bottom: 65px;
}
.prev.slick-arrow span i , .next.slick-arrow span i {
  font-size: 25px;
  padding: 9px 11px;
}
.maintextsli p{
  font-size: 15px;
}
.Eml h4{
  font-size: 18px;
}
.secqutext {
  margin: 0;
}
.sec5mhr {
  width: 60%;
}

}






















@media only screen and (max-width:767px) {
.sec-mar-min{
  margin-top: 0px;
}
.sec-padd-our ul li {
  font-size: 18px;
  line-height: 31px;
}
.sec-padd-our {
  padding: 40px 0px;
}
table.table {
  width: 100%;
  margin: auto;
}
.courses-bg h2 {
  font-size: 30px;

}
.scop-margin{
  margin-top: 0px;
}
.scop-text h2 {
  font-size: 25px;
}
.scop-text p {
  font-size: 18px;
}
.module-bg h2 {
  font-size: 30px;
}
.test-text h3 {
  font-size: 20px;
  padding-top: 20px;
}
.test-text h3 i {
  font-size: 20px;
  padding: 8px 9px;
}
.text-testmon {
  font-size: 18px;
  line-height: 30px;
}
.test-bg {
  padding: 40px 0px;
}
.us-bg h3 {
  font-size: 30px;
}
.all-map {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex!important;
  flex-direction: column;
}
.sec-enquiry{
  padding-top: 40px;
  width: 100%;
  margin: auto;
}
div#selider1 .owl-stage-outer {
  padding-top: 0px !important;
}
.bener-bg {
  padding: 30px 10px;
}

.benefit-bg h4 {
  font-size: 30px;
}
.benefit-bg ol li {
  font-size: 18px;
}
.sec2-policy{
  padding: 40px 10px !important;
}
.sec-policy2 {
  font-size: 50px;
  line-height: 60px;
}
.sec-line-pol , .secli{
  font-size: 18px;
}
ol.m-0.p-0 {
  padding: 10px 20px !important;
}
}

