@media only screen and (max-width:1440px) {

a.nav-link.px-4.text-light {
  font-size: 14px ;
}
a.navbar-brand {
  width: 270px;
}
}










/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1899px;
  }
}







@media only screen and (max-width:767px) {
  a.navbar-brand {
    width: 66% !important;
}
.yearbg {
  height: auto;
  padding: 40px 20px;
}
button.navbar-toggler {
  background: #000;
}
.getbgg {
  padding: 40px 20px;
}
.imgtextget2 {

  padding: 20px 20px;
  width: 100%;
  margin-left: 0px;
  margin-top: 20px;
}
.newsbgg {
  padding: 60px 10px;
}
.footerbg {
  height: auto;
  padding: 30px 20px;
}
.offcanvas-header {
  background: #000;
  color: #fff;
  opacity: 1;
}
}






















@media only screen and (max-width:767px) {
.sec-mar-min{
  margin-top: 0px;
}
.sec-padd-our ul li {
  font-size: 18px;
  line-height: 31px;
}
.sec-padd-our {
  padding: 40px 0px;
}
table.table {
  width: 100%;
  margin: auto;
}
.courses-bg h2 {
  font-size: 30px;

}
.scop-margin{
  margin-top: 0px;
}
.scop-text h2 {
  font-size: 25px;
}
.scop-text p {
  font-size: 18px;
}
.module-bg h2 {
  font-size: 30px;
}
.test-text h3 {
  font-size: 20px;
  padding-top: 20px;
}
.test-text h3 i {
  font-size: 20px;
  padding: 8px 9px;
}
.text-testmon {
  font-size: 18px;
  line-height: 30px;
}
.test-bg {
  padding: 40px 0px;
}
.us-bg h3 {
  font-size: 30px;
}
.all-map {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex!important;
  flex-direction: column;
}
.sec-enquiry{
  padding-top: 40px;
  width: 100%;
  margin: auto;
}
div#selider1 .owl-stage-outer {
  padding-top: 0px !important;
}
.bener-bg {
  padding: 30px 10px;
}

.benefit-bg h4 {
  font-size: 30px;
}
.benefit-bg ol li {
  font-size: 18px;
}
.sec2-policy{
  padding: 40px 10px !important;
}
.sec-policy2 {
  font-size: 50px;
  line-height: 60px;
}
.sec-line-pol , .secli{
  font-size: 18px;
}
ol.m-0.p-0 {
  padding: 10px 20px !important;
}
}

