.sec-menu-bgg {
    padding-left: 0px;
    padding-right: 0px;
}

.headermenusec {
    color: #090909;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.headermenusec:hover {
    color: #090909;
}

.headermenusec2btn {
    background: #EB008B;
    border: 1px solid #EB008B;
    display: inline-flex;
    padding: 20px 37.18px 20px 37.38px;
    color: #FFF;
    text-align: center;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.headermenusec2btn:hover {
    color: #EB008B;
    background: #fff;
    border: 1px solid #EB008B;
}

.nav-link:focus {
    color: #000 !important;
}

.secallnumber {
    color: #DE968D;
}

.yearbg {
    background-image: url(../images/YEARBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 100px 200px;
}
.homemaintext p{
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #97CA45;
}
.homemaintext h3{
    font-family: 'Libre Baskerville';
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}
.videbttn img{
    padding-top: 60px;
}
.imgtopsec{
    margin-top: -300px;
}
.meqimgg{
    width: 27px;
}
.meqtext{
    font-family: 'Libre Baskerville';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}
.btn.btn-primary.videbttn{
background: transparent !important;
border: 0 !important;
}
.ourtext p{
    color: #FBA92C;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.ourtext h3{
    color: #000;
    font-family: 'Libre Baskerville';
    font-size: 30px;
    text-align: center;
}
.ourboxbg{
    background: #FCF5F5;
    padding: 20PX;
}
.ourboxbg p{
    color: #000;
    font-family: 'Libre Baskerville';
    font-size: 18px;
}
.abuttext p{
    color: #FBA92C;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.abuttext h3{
    color: #000;
    font-family: 'Libre Baskerville';
    font-size: 35px;
}
.padd-le{
    padding-left: 60px;
}
.We-sec p{
    color: #000;
    font-family: 'Libre Baskerville';
    font-size: 20px;
    padding-top: 40px;
}
.We-sec h4{
    color: #FBA92C;
    font-family: 'Libre Baskerville';
    font-size: 120px;
}
.We-sec span{
    color: #000;
    font-family: 'Libre Baskerville';
    font-size: 16px;
    padding-top: 20px;
}
.atsec{
    color: #89868D;
    font-family: 'Manrope';
    font-size: 16px;
    padding-top: 20px;
}
.We-sec2 p{
    color: #89868D;
    font-family: 'Libre Baskerville';
    font-size: 16px;
   
}
.weicon{
    width: 27px;
}
.sechr{
    width: 70%;
}
.secredbtn{
    padding-top: 10px;
}
.secredbtn a{
    color: #fff;
    font-family: 'Manrope';
    font-size: 16px;
    padding-top: 20px;
    background: #000;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.sec5m a{
    color: #000;
    font-family: 'Manrope';
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    
}
.sec5mhr{
    color: #FBA92C;
    margin: 0;
    width: 78%;
    border: 2px solid;
    opacity: 1;
}
.serbgg{
    background-image: url(../images/serbggg.png);
    background-repeat: no-repeat;
    background-color: #fcf5f5;
    background-size: cover;
    height: 650px;
    padding: 60px 10px;
}
.paddser{
    padding: 60px;
}
.bggsebox{
    background: #fff;
    padding: 20px 15px;
    text-align: center;
}
p.secnumberbg {
    text-align: left;
}

.secnumberbg a{
    background: #FBA92C;
    border-radius: 50px;
    padding: 10px 11px;
    font-family: 'Libre Baskerville';
    font-size: 16px;
    color: #fff !important;
    text-align: left !important;
}
.secsertex{
    font-family: 'Libre Baskerville';
    font-size: 15px;
    padding-top: 25px;
}
.secbannerbg{
    padding: 10px 60px;
    margin-top: -120px;
}
/* month/year */

.switch-container {
    display:inline-flex;
    align-items:center;
    padding: 5px 10px;
    font-family: 'Libre Baskerville' !important;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
  
  .switch {
    display: inline-flex;
    margin: 0 10px;
  }
  .switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .switch input[type=checkbox]:checked + label {
    background: #97CA45;
  }
  .switch input[type=checkbox]:checked + label::after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
  .switch label {
    cursor: pointer;
    width: 48px;
    height: 24px;
    background: #EB008B;
    display: block;
    border-radius: 24px;
    position: relative;
    margin-bottom:0;
  }
  .switch label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 16px;
    transition: 0.3s;
  }
    
  .hidden {
      display: none;
  }

  .Basicbgg{
    background: #27252A;
    padding: 50px;
  }
  .lefttextbas{
    border-right: 1px solid rgb(68, 67, 67);
  }
  .lefttextbas h5{
    font-family: 'Libre Baskerville';
    font-size: 18px;
    color: #fff !important;
  }
  .lefttextbas h4{
    font-family: 'Libre Baskerville';
    font-size: 35px;
    color: #fff ;
  }
  .lefttextbas h4 span{
    font-family: 'Manrope';
    font-size: 16px;
    color: #89868D ;
  }
  .lefttextbas p{
    font-family: 'Manrope';
    font-size: 16px;
    color: #89868D ;
  }
  .secbesbtn{
    padding-top: 20px;
  }
  .secbesbtn a{
    font-family: 'Manrope';
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #EB008B;
    padding: 12px 25px;
  }
  .secbesbtn a:hover{
    color: #EB008B;
    background: rgb(252,245,245);
  }
  .ictext{
    font-family: 'Manrope';
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding-left: 20px;
  }
  .Basicbgg2{
    background: rgb(252,245,245);
    padding: 50px;
  }
  .lefttextbas2{
    border-right: 1px solid #F0E8E8;
  }
  .lefttextbas2 h5{
    font-family: 'Libre Baskerville';
    font-size: 18px;
    color: #27252A !important;
  }
  .lefttextbas2 h4{
    font-family: 'Libre Baskerville';
    font-size: 35px;
    color: #27252A ;
  }
  .lefttextbas2 h4 span{
    font-family: 'Manrope';
    font-size: 16px;
    color: #89868D ;
  }
  .lefttextbas2 p{
    font-family: 'Manrope';
    font-size: 16px;
    color: #89868D ;
  }
  .secbesbtn2{
    padding-top: 20px;
  }
  .secbesbtn2 a{
    font-family: 'Manrope';
    font-size: 16px;
    color: #EB008B;
    border: 1px solid #EB008B;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(252,245,245);
    padding: 12px 25px;
  }
  .secbesbtn2 a:hover{
    color: rgb(252,245,245);
    background: #EB008B;
  }
  .ictext2{
    font-family: 'Manrope';
    font-size: 16px;
    color: #27252A;
    margin: 0;
    padding-left: 20px;
  }
  .getbgg{
    background-image: url(../images/gettbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 200px;
  }
  .getttext p{
    color: #97CA45;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}
.getttext h3{
    color: #fff;
    font-family: 'Libre Baskerville';
    font-size: 35px;
}
.checksecp{
    padding-top: 20px;
}
.checksecp p{
    color: #fff;
    font-family: 'Manrope';
    font-size: 16px;
}
.secbtnget {
    padding-top: 30px;
}
.secbtnget a{
    color: #fff;
    font-family: 'Manrope';
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
    background: #FBA92C;
}
.secbtnget a:hover{
    background: #97CA45;
}
.imgcontext{
    width: 70%;
    z-index: 1;
}
.imgtextget2{
    background: #97CA45;
    background-image: url(../images/divgetimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 40px;
    width: 60%;
    margin-left: 190px;
    margin-top: -320px;
    z-index: 10;
    position: relative;
}
.imgtextget2 h4{
    color: #fff;
    font-family: 'Manrope';
    font-size: 20px;
}
.timesec{
    color: #fff;
    font-family: 'Manrope';
    font-size: 16px;
    padding-top: 10px;
}
.meq2bg{
    background: #EB008B;
}
.meqtext2{
    font-family: 'Libre Baskerville';
    font-size: 20px;
    font-style: normal;
    color: #fff ;
    padding: 5px 0px;
}
.secshop h5{
    font-family: 'Libre Baskerville';
    font-size: 18px;
    color: #27252A;
    text-align: center;
    padding-top: 10px;
}
.secshop p{
    font-family: 'Manrope';
    font-size: 16px;
    color: #89868D;
    text-align: center;
}
.secshop p span{
    font-family: 'Manrope';
    font-size: 16px;
    color: #EB008B;
    text-align: center;
}
.shopbtnsec{
    text-align: center;
    padding-top: 20px;
}
.shopbtnsec a{
    font-family: 'Manrope';
    font-size: 16px;
    color: #fff;
    background: #97CA45;
    padding: 15px 30px;
    text-decoration: none;
}
.shopbtnsec a:hover{
    background: #EB008B;
}
.webmainsec{
    padding-bottom: 50px !important;
    margin-bottom: 50px;
    padding-top: 50px;
}
.secwebgco{
    padding: 0;
    background: #27252A;
    margin-top: 60px;
    margin-bottom: -50px;
}
.swetectcol{
    padding: 60px;
}